            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li{% if active == 'overview' %} class="active"{% endif %}>
                        <a href="{{ path('core_dashboard') }}" title="">{{ 'Overview'|trans }}
                            {% if active == 'overview' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li{% if active == 'settings' %} class="active"{% endif %}>
                        <a href="{{ path('core_settings') }}" title="">{{ 'Settings'|trans }}
                            {% if active == 'settings' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li{% if active == 'profile' %} class="active"{% endif %}>
                        <a href="{{ path('core_profile') }}" title="">{{ 'Profile'|trans }}
                            {% if active == 'profile' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li{% if active == 'help' %} class="active"{% endif %}>
                        <a href="{{ path('core_help') }}" title="">{{ 'Help'|trans }}
                            {% if active == 'help' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                </ul>
            </div>
