                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" title="{{ 'Dashboard'|trans }}">{{ 'Dashboard'|trans }}</a></li>
                        <li><a href="#" title="{{ 'Settings'|trans }}">{{ 'Settings'|trans }}</a></li>
                        <li><a href="#" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a></li>
                        <li><a href="#" title="{{ 'Help'|trans }}">{{ 'Help'|trans }}</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
