                <h2 class="sub-header">{{ 'Recent deployments'|trans }}</h2>
                {% if deployments|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ '#'|trans }}</th>
                            <th>{{ 'Date'|trans }}</th>
                            <th>{{ 'Project'|trans }}</th>
                            <th>{{ 'Env'|trans }}</th>
                            <th>{{ 'User'|trans }}</th>
                            <th>{{ 'State'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>user</td>
                                <td>sit</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3>{{ 'No recent deployments!'|trans }}</h3>
                {% endif %}
