<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'php-deploy'|trans }}{% endblock %}</title>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dashboard for ansible- and php-driven deployments">
        <meta name="author" content="Marc Aschmann &copy;2015">
        {% endblock %}
        {% block stylesheets %}
        <link href="{{ asset('/assets/core.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">{% if app.user and is_granted('ROLE_DEPLOYMENT_USER') %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>{% endif %}
                    <a class="navbar-brand" href="#">{{ 'php-deploy'|trans }}</a>
                </div>
                {% if app.user and is_granted('ROLE_DEPLOYMENT_USER') %}
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="#">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('core_dashboard') }}" title="{{ 'Dashboard'|trans }}">{{ 'Dashboard'|trans }}</a></li>
                        <li><a href="{{ path('core_settings') }}" title="{{ 'Settings'|trans }}">{{ 'Settings'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a></li>
                        <li><a href="{{ path('core_help') }}" title="{{ 'Help'|trans }}">{{ 'Help'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}" title="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}" title="{{ 'layout.register'|trans({}, 'FOSUserBundle') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}
        {% endblock %}
        <div id="asm-dialog"><div class="content"></div></div>
        {% block javascripts %}
        <script src="{{ asset('/assets/core.js') }}"></script>
        {% endblock %}
        {% block jsinit %}
            <script type="text/javascript">
                ;(function ($, undefined) {
                    window.asm = window.asm || {};
                    asm.options = asm.options || {};
                    $.extend(asm.options, {
                        locale: 'en_US',
                        env: "{{ app.environment }}"
                    });
                    asm.translations = asm.translations || {};
                    $.extend(asm.translations, {
                        key: '{{ 'test'|trans }}'
                    });

                    $('body').addClass('asm-init php-deploy {{ app.environment }}');
                })(jQuery);
            </script>
        {% endblock %}
    </body>
</html>
