<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'php-deploy'|trans }}{% endblock %}</title>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dashboard for ansible- and php-driven deployments">
        <meta name="author" content="Marc Aschmann &copy;2015">
        {% endblock %}
        {% block stylesheets %}
        <link href="{{ asset('/assets/core.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        {{ include('CoreBundle::main-nav-partial.html.twig') }}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}
        {% endblock %}
        <div id="asm-dialog"><div class="content"></div></div>
        {% block javascripts %}
        <script src="{{ asset('/assets/core.js') }}"></script>
        {% endblock %}
        {% block jsinit %}
            <script type="text/javascript">
                ;(function ($, undefined) {
                    window.asm = window.asm || {};
                    asm.options = asm.options || {};
                    $.extend(asm.options, {
                        locale: 'en_US',
                        env: "{{ app.environment }}"
                    });
                    asm.translations = asm.translations || {};
                    $.extend(asm.translations, {
                        key: '{{ 'test'|trans }}'
                    });

                    $('body').addClass('asm-init php-deploy {{ app.environment }}');
                })(jQuery);
            </script>
        {% endblock %}
    </body>
</html>
